@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cedarville+Cursive&family=Itim&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&family=Unlock&display=swap');

* {
    font-family: "Poppins", serif;
    padding: 0;
    margin: 0;
}

button,
.btn {
    background-color: #afce36;
    border-radius: 7px;
}

::placeholder {
    font-size: .85rem;
}

input:focus {
    border: none;
    border-bottom: 3px solid #afce36;
    outline: none;
}

textarea:focus {
    border: none;
    border-bottom: 3px solid #afce36;
    outline: none;
}

select:focus {
    border: none;
    border-bottom: 3px solid #afce36;
    outline: none;
}

.logo-text {
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: -3px;
    color: #afce36;
}

main .background-image .navbar {
    background-color: #ffffff;
}

small {
    color: #afce36;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

main .taskmaster {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    /* linear-gradient(to top, transparent 10%, black 100%),  */
    background-image: linear-gradient(to right, transparent 10%, #2d3801 100%), url(../images/pexels-leeloothefirst-8962462.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main .background-image .taskmaster h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
}

main .background-image .taskmaster form button {
    width: 60%;
    background-color: #198754;
    font-weight: bold;
    color: #fff;
}

.task {
    /* display: inline-flex; */
    margin-top: 10px;
    width: 100%;
    /* padding-left: 10px; */

}

.card {
    border-radius: 5px;
    height: 330px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 0;
    background-color: #198754;
}

.modal form input {
    padding: 12px;
    border-radius: 7px;
}

.modal form select {
    padding: 12px;
    border-radius: 7px;
}

.modal form textarea {
    border-radius: 7px;
    height: 100px;
    resize: none;
}

.modal .modal-footer button {
    padding: 13px;
    color: #fff;
    font-weight: bold;
}

.edit-and-delete a svg {
    color: #fff;
}

/* Style the file input div */
.custom-file-upload {
    border: 2px dashed #007bff;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.custom-file-upload .col-form-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.custom-file-upload .form-control {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload .form-control:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-file-upload.dragover {
    background-color: #e9f7fe;
    border-color: #007bff;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.center-icon {
    margin: 0 15px;
    width: 40px;
    height: auto;
}